<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Calculate</title>
</head>
<body>
<div class="container">
    <form method="POST" action="/main">
        {{x}}  + {{y}} = 
        <input type="text" name="result">
        <input type="hidden" name="x" value={{x}}>
        <input type="hidden" name="y" value={{y}}>
    </form>
    {% if msg %}
    <div>
    {{msg}}
    </div>
    {% endif%}
</div>
</body>
</html>